.colorbox {
  width: 150px;
  height: 100px;
}
.colorMaster {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logout {
  position: absolute;
  left: 1550px;
  top: 50px;
  background-color: lightpink;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}
.logout:hover,
.addbttn:hover,
.bttns:hover {
  background-color: lightcoral;
}
.logout:active,
.addbttn:active,
.bttns:active {
  background-color: lightgreen;
}
.colorPicker {
  margin: auto;
  margin-top: 50px;
}
.addbttn {
  background-color: lightpink;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}
.editsection {
  display: flex;
  justify-content: space-around;
}
.bttns {
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  top: 70px;
}
.main {
  border-bottom: 10px solid black;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  padding: 10px;
}
